    <header>
        page header
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <ul>
        <%if(locals.user){%>
            <li><a href="/"><%=user.name%></a></li>
            <li><a href="/users/sign-out">SignOut</a></li>
        <%}else{%>

            <li>
                <a href="/users/signin">Sign In</a>
            </li>
            <li>
                <a href="/users/signup">Sign Up</a>
            </li>
            <%}%>
        </ul>
    </header>
