<form action="/users/createSession" method="post">
    
    <label for="email">USERNAME
        <input type="text" id="email" name="email" required>
    </label>
    
    <label for="password">PASSWORD
        <input type="password" id="password" name="password" required>
    </label>
    <button type="submit"> sign in</button>
</form>    

<p><a href="/users/auth/google">Goggle SignIn/Signup </a></p>