<form action="/users/create" method="post">
    
    
    <label for="name">name
        <input type="text" id="name" name="name" required>
    </label>

    <label for="username">username
        <input type="text" id="username" name="username" required>
    </label>
    
    <label for="password">password
        <input type="text" id="password" name="password" required>
    </label>
    
    <label for="confirm-password">confirm password
        <input type="text" id="confirm-password" name="confirm_password" required>
    </label>
    
    
    <button type="submit">submit </button>
</form>